.parent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    top: 5%;
    position: relative;
}
.btn1{
    border-radius: 4px;
    display: block;
    padding: 10px 40px;
}
.btn2{
    border-radius: 4px;
    display: block;
    padding: 10px 40px;
}
.btn3{
    border-radius: 4px;
    display: block;
    padding: 10px 40px;
}
.btn4{
    border-radius: 4px;
    display: block;
    padding: 10px 40px;
}
.button-row{
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 10px;
}
.input-form{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
@media only screen and (max-width: 500px){


    .button-row{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        left: 0%;
    }
   
    /* .btn1{
        border-radius: 4px;
        position: relative;
        left: 21%;
        transform: translate(-30%, -65%);
        display: block;
        padding: 10px 40px;
    }
    .btn2{
        border-radius: 4px;
        position: relative;
        left: 28%;
        transform: translate(-30%, -65%);
        display: block;
        padding: 10px 40px;
    }
    .btn3{
        border-radius: 4px;
        position: relative;
        left: 35%;
        transform: translate(-30%, -65%);
        display: block;
        padding: 10px 40px;
    }
    .btn4{
        border-radius: 4px;
        position: relative;
        left: 42%;
        transform: translate(-30%, -65%);
        display: block;
        padding: 10px 40px;
    } */

    .input-form{
        position: relative;
        display: flex;
        flex-direction: column;
        top: 15%;
        width: 30%;
        left: 0;
        gap: 10px;
    }
}