p {
    margin: 100px;
    font-family: sans-serif;
    font-size: 4em;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
.btn-parent{
  display: flex;
  flex-direction: flex;
  gap: 10px;
}
#button-test{
    border-radius: 4px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: 15px 32px;
}
button:focus{
    background-color:white;
    }
button:hover {
    background-color: pink;
    opacity: .5;
  }
  .container{
    display: flex;
		flex-direction: column;
		gap: 10px;
    border: 8px solid var(--pe-red);
	padding: 10px;
  }